
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG">

	<!--  <parameter name="selenium.browser" value="*chrome" />
	<parameter name="selenium.url"
		value="https://dynamic-cv-generator-test.firebaseapp.com/login" />-->

	<test name="LoginTest">
		<classes>
			<class name="dcgSelenium.Tests.LoginTest">
				<methods>
					<include name="loginCorrect" />
					
				</methods>
			</class>
		</classes>
	</test>
</suite>